{% extends "base.twig" %}

{% block title %}Homepage{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block header %}<h1>Homepage</h1>{% endblock %}
{% block left_col_title %}{{ parent() }}{% endblock %}
{% block left_col %}{{ parent() }}{% endblock %}
{% block right_col_title %}{{ parent() }}{% endblock %}
{% block right_col %}{{ parent() }}{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}